.receipe{
    margin: 15px;
    padding: 35px;
    text-indent: 2cm;
}
.breakfast{
    font-size: 18px;
    background-color: hotpink;
}
.Maggie{
    font-size: 18px;
    background-color: hotpink;
}
.upma{
    font-size: 18px;
    background-color: hotpink;
}
.dosa{
    font-size: 18px;
    background-color: hotpink;
}
